# Beskyt følsomme data
.env
.env.local
.env.production

# Beskyt følsomme Strapi-filer
.strapi-updater.json
.strapi-cloud.json

# Beskyt data
*.sqlite
*.sqlite3

# Tillad .tmp/data.db
!/.tmp/data.db

# Beskyt build og logs
dist
build
.tmp # ekskluder tmp, men vi tilføjer en undtagelse for data.db
!.tmp/data.db
logs
*.log

# Beskyt npm/yarn
node_modules
.yarn/*
.pnp.*

# Beskyt VSCode og IDE-filer
.vscode/
.idea/
nbproject/

# Beskyt uploads
public/uploads/*
!public/uploads/.gitkeep

# Tillad vigtige Strapi-filer
!.tmp/data.db
!.strapi-cloud.json
!.strapi-updater.json

# Tillad src/components/features/slider.json
!src/components/features/*.json
